body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: rgb(46, 46, 46);
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgb(46 46 46 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
    outline: none;
}

.btn {
    background: rgb(6,14,131);
    border: none;
}

.btn:hover {
    background: rgb(0,3,255);
}